<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Library.Logging" version="1.0.0" targetFramework="net452" />
  <package id="Library.Logging.NLog" version="1.0.0" targetFramework="net452" />
  <package id="Library.WebApi" version="1.0.0" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.3" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="6.0.4" targetFramework="net452" />
  <package id="Ninject" version="3.2.2.0" targetFramework="net452" />
  <package id="NLog" version="4.4.4" targetFramework="net452" />
  <package id="Sample.WebApi.Client" version="1.0.0" targetFramework="net452" />
  <package id="Sample.WebApi.Client.Interfaces" version="1.0.0" targetFramework="net452" />
  <package id="Sample.WebApi.Contract" version="1.0.0" targetFramework="net452" />
  <package id="Topshelf" version="4.0.3" targetFramework="net452" />
  <package id="Topshelf.Ninject" version="0.4.0.0" targetFramework="net452" />
  <package id="Topshelf.NLog" version="4.0.3" targetFramework="net452" />
</packages>