<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Library.Logging" version="1.0.0" targetFramework="net452" />
  <package id="Library.WebApi" version="1.0.0" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.3" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="6.0.4" targetFramework="net452" />
  <package id="NLog" version="4.4.4" targetFramework="net452" />
  <package id="Sample.WebApi.Client" version="1.0.0" targetFramework="net452" />
  <package id="Sample.WebApi.Client.Interfaces" version="1.0.0" targetFramework="net452" />
  <package id="Sample.WebApi.Contract" version="1.0.0" targetFramework="net452" />
</packages>