<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="MassTransitConcurrencyLimit" value="4" />
    <add key="MassTransitPrefetchCount" value="12" />
  </appSettings>
  <!--Nlog Config-->
  <nlog xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <variable name="logDir" value="${basedir}/../logs" />
    <variable name="logName" value="Sample2.Service" />
    <variable name="solutionName" value="Sample2" />
    <targets async="true">
      <target name="ServiceLogFile" xsi:type="File" fileName="${logDir}/current/${solutionName}/${logName}.log" archiveFileName="${logDir}/archive/${solutionName}/${logName}{#####}.log" layout="${longdate}|${level:uppercase=true}|${logger}|${message}${onexception:|EXCEPTION OCCURRED\:${exception:format=type,message,method,StackTrace:maxInnerExceptionLevel=5:innerFormat=shortType,message,method,StackTrace}}" archiveEvery="Day" archiveNumbering="Sequence" maxArchiveFiles="14" keepFileOpen="true" enableFileDelete="false" />
      <target name="Debugger" xsi:type="Debugger" layout="${logger}::${message}" />
      <target xsi:type="ColoredConsole" name="Console" />
    </targets>
    <rules>
      <logger name="*" minlevel="Info" writeTo="ServiceLogFile" />
      <!--      <logger name="dotnettrace" minlevel="Trace" writeTo="ServiceLogFile" />-->
      <!--      <logger name="LIC.*" minlevel="Trace" writeTo="Console" final="true" />-->
      <!--      <logger name="*" minlevel="Warn" writeTo="Console" />-->
      <logger name="*" minlevel="Info" writeTo="Console" />
    </rules>
  </nlog>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Topshelf" publicKeyToken="b800c4cfcdeea87b" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>